@import '../../vars.css';

.container{
    margin-top: 150px;
    max-width: 1200px;
    padding-left: 20%;
    padding-right: 20%;


}

.pageTitle{
    color: var(--color-primary);
    font-size: 16px; 
    margin-bottom: 25px;
}

.pageHeading {
    font-size: 32px;
    margin-bottom: 60px;
}

.mappedData{
   display: flex;
   flex-direction: row;
   align-items: flex-start;
    
}

.mappedContent{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    margin-right: 20px;
}

.mappedImg{
    width: 50px;
    margin-bottom: 12px;
}

.mappedTitle{
    font-size: 14px;
    margin-bottom: 12px;
}

.mappedDescription{
    font-size: 10px;
}