:root {
    /*Colors*/
    --color-text: #000;
    --color-primary: #dc3540;
    --color-secondary: #19376d;
    --color-dark: #0b2447;
    --color-bg: #04152d;

    /*fonts*/
    --font-roboto: 'Roboto';
    



}